/vendor
/node_modules
.env
_ide_helper.php
/resources/assets/vendor
/.idea
phpunit.phar
/tmp

# Elastic Beanstalk Files

.elasticbeanstalk

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml